[submodule "tattler-server"]
	path = tattler-server
	url = https://github.com/cristianruben513/tattler-server.git
[submodule "tattler-mobile-client"]
	path = tattler-mobile-client
	url = https://github.com/cristianruben513/tattler-mobile-client.git
